root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
tab_width = 4

[*.feature]
# indent_size = 4

[*.less]
# indent_size = 4

[*.sass]
# indent_size = 4

[*.scss]
# indent_size = 4

[*.vue]
# indent_size = 4
# tab_width = 4

[{*.bash,*.sh,*.zsh}]
# indent_size = 4
# tab_width = 4

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_collection.json,*.postman_environment,*.postman_environment.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,composer.lock,jest.config}]
# indent_size = 4

[{*.tf,*.tfvars}]
# indent_size = 4

[{*.yaml,*.yml}]
# indent_size = 4
