parameters:
	level: max
	paths:
		- src
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$width of method PhpOffice\\PhpWord\\Element\\Table\:\:addCell\(\) expects int\|null, float given\.$#'
			path: src/CongregationManager/Bundle/TerritoryManager/Renderer/WordS13Renderer

includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
